/* Hero section */
.hero{
    background-color: black;
}
.product{
    background-color: black;
}
.demo{
    background-color: black !important;
}
.sarv{
    transition: all.4s;
}
.sarv:hover{
    background-color: black  !important;
    color: white !important;
    box-shadow: 1px 5px 17px #99a;
    transform: translateY(5px)
}
.hr:hover{
    color: white !important;
    background-color: white !important;
    border: 1px solid white !important;
}
.services1{
    background-color: whitesmoke;
}
/* team */
.v-header{
    position: relative;
   background-image: url('../IMG/gallery7.jpg');
    height: 57.5vh;
    width: auto
}
.videoBG{
position: absolute;
opacity: 0.7 !important;
width: 100%;

}
.overlay{
    position: absolute;
    
}
.dem{
    opacity:0.8 !important;
 width: 300vh !important;
 height: 50vh !important;
}
.imag2{
    border-radius: 100% !important;
}
.deem{
    opacity:0.9 !important;
}
/* footer */

.social-media{
    display: flex;
}

.sm-link{
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: 2px solid var(--yellow-solid);
    border-radius: 50%;
    display: flex;
    margin-right: 1rem;
    transition: background-color .5s;
}

.sm-link:hover{
    background-color: var(--yellow-solid);
    color: var(--dark-color);
}

.sm-link i{
    margin: auto;
}
.lorem{
    text-align: center;
}
.footer{
    color: white;
    background-color: rgb(124, 7, 7);
}
@media screen and (max-width: 800px){
    .lorem{
        font-size: 15px !important;
        text-align: center;
}
.overlay{
    justify-content: center !important;
    margin: auto !important;
}
}